*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Yellowtail&display=swap');


body {
  /* background: url('https://i.ibb.co/L8CVWfw/gda-bg-1.jpg') no-repeat center center fixed;
  background-size: cover; */
  background-color: rgb(20,20,20);
  height: 100vh;
  color: rgb(235,235,235);
  font-family: 'Futura', sans-serif;
}

section {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
.non-home-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100%;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  color: rgba(255,255,255,0.4);
  z-index: 10;
}
footer a {
  color:rgba(255,255,255,0.6);
}


/*************************/
/****** NAV STYLING ******/
/*************************/

nav {
  position: fixed;
  background-color: rgb(20,20,20);
  width: 100vw;
  height: 125px;
  padding: 0 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
}
nav ul {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.social-links {
  margin: 0 -45px 0 auto;
  padding: 15px 30px 15px 15px;
  display: flex;
  position: relative;
}
.social-links::before {
  content: '';
  position: absolute;
  top: -34px;
  left: 0;
  height: 125px;
  width: 100%;
  background-color: rgba(235,235,235,0.4);
  z-index: -1;
  transform: scale(0.01, 0.5);
  transform-origin: left;
  transition: all 0.2s ease;
}
.social-links:hover::before {
  background-color: rgb(235,235,235);
  transform: scale(1, 0.7);
}
.social-links:hover .fab,
.social-links:hover .fas {
  color: rgb(20,20,20);
}
.social-links li {
  margin: 0 15px;
}
.social-links li:nth-child(3) {
  margin-right: 0;
}
.fab, .fas {
  font-size: 28px;
  color: rgba(235,235,235,0.4);
  transition: 0.2s ease;
}
.fab:hover, .fas:hover {
  transform: scale(1.3);
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  color: rgba(235,235,235,0.4);
  margin: 0 35px;
  transition: color 0.2s ease;
}
.home-link {
  text-decoration: none;
  color: rgb(235,235,235);
  font-family: 'Futura';
  font-size: 16px;
  margin: 0 25px 0 0;
}
.nav-link:hover {
  color: rgb(235,235,235);
}

.selected {
  color: rgb(235,235,235);
}




/*************************/
/**** HEADING STYLING ****/
/*************************/

h1 {
  text-align: center;
  font-size: clamp(2rem, 7vh, 8rem);
}
.main-home-h1 {
  font-size: clamp(2rem, 5vw, 8rem);
}
.non-home-section h1 {
  font-size: clamp(2rem, 4vh, 8rem);
}


/*************************/
/** EXTRA HOME STYLING  **/
/*************************/

.home-two {
  background-color: rgb(235,235,235);
}
.home-two h1 {
  color: rgb(20,20,20);
}
.home-three {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
  pointer-events: all;
}

.home-info {
  position: absolute;
  top: 90px;
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*************************/
/**** CONTACT STYLING ****/
/*************************/

.contact-card {
  width: 500px;
  background-color: rgb(235,235,235);
  color: rgb(20,20,20);
  border-radius: 10px;
  border-bottom: solid 5px rgb(177, 54, 54);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: transform 0.1s ease;
}

.contact-section h1 {
  margin-bottom: 25px;
}

.contact-card img {
  width: 490px;
  margin-top: 5px;
  border-radius: 8px;
}


.contact-card-info {
  margin: 10px 0px 10px 0px;
  text-align: center;
}

.contact-link {
  color: rgb(20,20,20);
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  margin: 25px;
  position: relative;
}

.contact-link::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0px;
  height: 2px;
  width: 100%;
  background-color: rgb(20,20,20);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.contact-link:hover::before {
  transform: scaleX(1);
}


/*************************/
/***** EVENT STYLING *****/
/*************************/

.event-section {
  width: 100%;
}

.events-list {
  width: 80%;
  max-width: 1700px;
  height: 60%;
  max-height: 900px;
  background-color: rgb(235,235,235);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 5px 0px 5px;
  margin-top: 15px;
  border-radius: 5px;
  border-bottom: solid 5px rgb(177, 54, 54);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
}

.all-events {
  width: 100%;
  max-height: 900px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.all-events::-webkit-scrollbar {
  display: none;
}

.event-section h1 {
  font-family: 'Futura', sans-serif;
  font-size: 24px;
}

.event-header {
  list-style: none;
  background-color: rgb(20,20,20);
  width: 100%;
  max-width: 1700px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
}
.event-header li {
  width: 33%;
  text-align: center;
}
.event-header li:nth-child(1) {
  text-align: left;
}
.event-header li:nth-child(3) {
  text-align: right;
}

.event {
  width: 100%;
  max-width: 1700px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.event:nth-child(1) {
  margin-top: 35px;
}
.event:last-child {
  margin-bottom: 5px;
}

.event li {
  font-size: 16px;
  color: rgb(20,20,20);
  border-bottom: solid 2px rgb(20,20,20);
  padding: 5px 10px;
}

.event-name {
  width: 40%;
}

.event-date {
  width: 20%;
  text-align: center;
  border-left: solid 2px rgb(0, 0, 0);
  border-right: solid 2px rgb(0, 0, 0);
}

.event-location {
  width: 40%;
  text-align: right;
}



/*************************/
/***** ABOUT STYLING *****/
/*************************/

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.about-card {
  max-width: 320px;
  width: 25%;
  height: 400px;
  background-color: rgb(235,235,235);
  border-radius: 10px;
  border-bottom: solid 5px rgb(177, 54, 54);
  margin: 0px 10px;
  color: rgb(20,20,20);
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
  transition: .2s ease;
}

.about-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 15px 35px rgba(0,0,0,0.3);
}

.about-card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(20,20,20);
  color: rgb(235,235,235);
  border-radius: 12px;
  border: solid 5px rgb(235,235,235);
  padding: 10px;
  text-align: center;
  font-size: 24px;
  height: 150px;
}

.about-card-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 24px;
  height: 235px;
}



/*************************/
/***** MUSIC STYLING *****/
/*************************/

.music-section h1 {
  font-size: 24px;
}

iframe,
.music-carousel {
  max-width: 900px;
  max-height: calc(900px * .5625);
  width: 90vw;
  height: calc(90vw * .5625);
  border-radius: 10px;
  position: relative;
}

.music-carousel {
  margin-top: 15px;
  box-sizing: initial;
  background-color: rgb(235,235,235);
  border: solid 5px rgb(235,235,235);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
}

.music-carousel button {
  height: calc(100% - 44px);
  border-radius: 7px;
}
.music-carousel button.control-next.control-arrow::before {
  border-left: 12px solid rgb(20,20,20);
}
.music-carousel button.control-prev.control-arrow::before {
  border-right: 12px solid rgb(20,20,20);
}